html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    
}

body {
    justify-content: center;
}

/*Header Section*/

header {
    display: inline-flex;
    height: 69px;
    box-sizing: border-box;
    border-bottom: 1px solid seashell;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
    padding-right: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    justify-content: center;
    padding-top: 10px
}

li a {
    display: inline-block;
    color: seashell;
    justify-content: center;
}

header img {
    padding: 10px;
    height: 50px;
}

/*Main Parent Section */

main {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 66px;
}

/* Mission Section */

.mission {
    display: flex;
    background-image: url("/Images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 700px;
    max-width: 1200px;
    flex-flow: column;
    align-content: center;
    align-items: center;
    flex: 1 1200px;
    margin: 0 auto;
}
.mission-text {
    align-items: center;
    background-color: black;
    text-align: center;
    margin: auto;
    width: 100%;
}

.mission-text h2 {
    margin: 12px 0px;
}

.mission-text h4 {
    margin: 12px
}

/*Tea of the Month Section */

.month {
    display: flex;
    margin: auto;
    flex-flow: column;
    align-content: center;
    text-align: center;
}

.month h2, h4{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px auto;
    
}

.container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 50px 100px;
}

.picdiv {
    justify-content: center;
    margin: 20px;
}

.picdiv h4 {
    justify-content: center;
}

.picdiv img {
    justify-content: center;
    flex: 1 300px;
    max-width: 300px;
    max-height: 200px;
}
